.s-consultor
  width 100%
  height 100%
  position relative
  left 0
  cursor default
  display flex
  justify-content center
  flex-flow row wrap
  margin-top 50px

  &__add-question
    min-width 400px
    min-height 400px
    padding 30px
