.s-brain
  width 100%
  height 100%
  position relative
  left 0
  cursor default

  &__title
    font-size 36px
    color #f8a10b
    margin 10px auto
    text-align center

  &__title:first-letter
    text-transform uppercase

  &__question
    padding 10px 5px
    margin-top 10px
    font-size 20px

  &__answer
    cursor pointer
    padding 10px 15px
    margin 5px 0 0 20px
    font-size 16px
    display inline-block

  &__answer:last-child
    margin-bottom 0

  &__answer:first-letter
    text-transform uppercase

  &__answer:hover
    color #d5ff09

  & &__answer_freeze_yes
  & &__answer_freeze_yes:hover
    color #FFF
    cursor default

  & &__answer&__answer_selected_yes
    color #d5ff09

  & &__answer&__answer_is_right
    color #00C00C

  & &__answer&__answer_is_false
    color #F00

  & .spin
    margin 0 auto
    text-align center
    display block
    background-color transparent

  & .blackboard
    top 137px

  & .class-select
    top 60px
    position relative
    text-align center

  &__next-question.button
    top 98px
    position relative
    margin auto
    width 190px
    display block
