.s-brain
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;

  &__title
    font-size 36px
    color #f8a10b
    margin 0 auto
    text-align center

  &__title:first-letter
    text-transform uppercase

  &__question
    padding 10px

  &__answer
    padding 10px 0 0 25px

  &__answer:first-letter
    text-transform uppercase

  &__answer:hover
    color #EE732F
    cursor pointer
    text-decoration underline
