.blackboard
  width: 552px;
  height: 250px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;


  &__top
    width: 552px;
    height: 16px;
    background: url('header.jpg') no-repeat;

  &__body
    width 552px
    padding 4px 0 15px 0
    height auto
    min-height 305px
    background url('body.jpg') repeat-y

  &__text
  {
      padding: 10px 25px 0 25px;
      color: #fff;
  }

  &__bottom
    width 552px
    height 40px
    background url(bottom.jpg) no-repeat
    margin-top -5px
