.blackboard
{
    width: 552px;

    &__top
    {
      width: 552px;
      height: 16px;
      background: url('header.jpg') no-repeat;
    }

    &__body
    {
        width: 552px;
        height: auto;
        background: url('body.jpg') repeat-y;
    }

    &__text
    {
        padding: 10px 25px;
        color: #fff;
    }

    &__bottom
    {
      width: 552px;
      height: 40px;
      background: url('bottom.jpg') repeat-y;
    }

}


