.s-speaker
  &__select-poem
    min-width 400px
    min-height 400px
    padding 20px

  &__select-poem &__title
    font-size 25px
    margin-bottom 20px

  &__author
  &__name
  &__text
    margin 20px

  &__author
  &__name
    & .input
      width 100%

  &__text .textarea
    min-height 300px
