.header
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  min-width: 1020px;
  padding: 5px;
  background: #f6f6f6;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 10px 20px -5px rgba(0,0,0,.4);
  opacity: .98;
  text-align center

  &__class
    position relative
    top 25px
    right 70px
    float right
    font-size 40px

  &__image
    width: 150px;
    height: 100px;
    padding: 6px 0 0 50px;
    float: left;

  &__state
    overflow hidden
    margin 0 auto
    display inline-block
    top 10px
    position relative
