.user
  &_pos_header-right
    float: right;
    margin-right: 74px;
    margin-top: 24px;
    text-align: center;
    cursor: pointer;

  &_pos_header-right&_auth_yes
    margin-right: 80px;
    margin-top: 10px;

  &__info,
  &__info:visited
    font-size: 18px;
    text-decoration: none;
    color: #000;

  &__info:hover
    color: #EE732F;

  &__ava
    border-radius: 50%;
    width: 80px;
