* {
    padding: 0;
    margin: 0;
    border: 0;
}

.page
{
    /* font-family: Tahoma, sans-serif; */
    min-height: 100%;
    margin: 0;
    padding-top: 120px;

    background: url(page.png) repeat;

    /*font-family: 'Open Sans', sans-serif;
    font-weight: 300;*/

    font: 14px Arial,Helvetica,sans-serif;
    line-height: 1.3;

    width: 100%;
    height: 100%;
}

.page_type_index
{
    overflow: hidden;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}
