.modal
    &__close
        position: absolute
        top 0
        right 0
        width 20px
        height 20px
        margin 12px
        background-image url(./clear_size_l.svg)
        background-size cover
        cursor pointer
