.s-speaker
  width 100%
  height 100%
  position relative
  left 0
  cursor default
  display flex
  justify-content center

  &__how-quickly-learn
  &__poem-text
    float left
    font-size 22px
    margin 50px

  &__line
    cursor pointer
    display inline-block
    margin 7px 0

  &__visual-container
    width 400px
    height 400px
    float left
    font-size 22px
    margin 50px

  &__visualisation
    width 400px
    height 400px
    position fixed
    opacity 1

  &__line_selected_yes
    text-decoration underline

  &__line_disabled_yes
    cursor default
    color #999
    
  &__poem-title
    text-align center
    font-weight bold
    font-size 30px

  &__poem-author
    text-align right
    font-weight bold
    font-style italic

  &__checkbox
    top -4px
    margin 10px
    position relative
