.rating
  position absolute
  width 70px
  height 376px

  top 200px
  left 164px

  overflow hidden

  &__user
    width 70px
    height 70px
    border-radius 100%
    margin 15px 0

  &__dots
    text-align center
    font-size 52px
    color #666
    top -40px
    position relative

  &__user_pos_100500
    margin -40px 0

  &__dots_hidden_yes
  &__user_hidden_yes
    visibility hidden

  &__stats
    width 70px
    height 70px
    position relative

  &__stats .image
    position absolute
    bottom -15px
    right 0

  &__arrow
    position: relative;
    margin: 50px auto;

  &__arrow:before,
  &__arrow:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-right: 0;
  }

  &__arrow:nth-child(1) {
    width: 200px;
    height: 30px;
    background: orangered;
  }

  &__arrow:nth-child(1):after {
    top: -25px;
    right: -30px;
    border-left-color: orangered;
  }
