.rating
  position absolute
  width 70px
  height 376px

  top 200px
  left 10%

  overflow hidden

  &__user
    width 70px
    height 70px
    border-radius 100%
    margin 15px 0

  &__user_pos_0
    margin-top 0

  &__dots
    text-align center
    font-size 52px
    color #666
    top -40px
    position relative

  &__user_pos_100500
    margin -40px 0

  &__dots_hidden_yes
  &__user_hidden_yes
  &__fade_hidden_yes
  &__stat-text_hidden_yes
    visibility hidden

  &__dots
  &__fade
  &__stat-text
      pointer-events: none;

  &__stats
    width 70px
    height 70px
    display flex
    position relative
    cursor pointer


  &__stats .image
    position absolute
    bottom -15px
    right 0

  &__fade
    background #000
    opacity .5
    border-radius 100%
    width inherit
    height inherit
    left 0
    z-index 5
    position absolute

  &__stat-text
    color #fff
    margin auto
    z-index 10
    text-align center
