$root = '.page-texts';

{$root}
  width 100%
  height 100%
  position relative
  cursor default
  text-align center
  margin-top 50px

  &__title
    text-align center
    font-size 22px

  & .input
    width 730px
    display block
    margin 15px auto

  & .button
    margin 40px auto