.s-speaker-repeat
  min-width 400px
  min-height 400px
  padding 50px
  display flex
  justify-content center
  align-items center
  flex-direction column

  & &__title
    font-size 25px
    margin-bottom 20px
    text-align center

  & &__title-poem
    font-size 25px
    text-align center
    margin-bottom 25px

  &__poem_hidden
  &__instruction_hidden
    display none

  &__instruction-line
    font-size 16px
    margin 5px 0

  &__line
    cursor pointer
    margin 7px 0
    font-size 20px

  &__visual-container

  &__poem-author
    text-align right
    font-weight bold
    font-style italic
    margin-top 25px

  &__buttons
    text-align center
    margin-top 50px

  &__buttons_hidden
    visibility hidden

  & .button
    margin 0 10px

  &_hidden
    visibility hidden

  & .spin
    margin auto

  &__checkbox
    display inline-block
    padding 3px 15px 3px 3px
    top -2px

  & .link
  & .link:hover
    text-decoration none
    color #000
