.landing
  font-size: 50px;
  width: 80%;
  min-width: 700px;
  margin: 0 auto;
  text-align: center;

  &__title,
  &__footer
    margin: 50px 0;

  &__status
    display: inline-block;
    font-size: 27px;
    width: 196px;
    opacity: .75;
    cursor: pointer;

  &__status:hover
    opacity: 1;

  &__status-descr_popup_yes
    width 450px;
    padding 10px 15px;
    text-align: justify;
    outline 1px solid #555555

  &__progress
    width 80%
    margin: 0 auto;
    & .progressbar_color_red .progressbar__bar
      background-color: #F30

    & .progressbar_color_green .progressbar__bar
      background-color: #3F0
