.landing
  font-size: 50px;
  width: 80%;
  min-width: 700px;
  margin: 0 auto;
  text-align: center;

  &__title,
  &__footer
    margin: 50px 0;

  &__status
    display: inline-block;
    font-size: 27px;
    width: 196px;
    opacity: .75;
    cursor: pointer;
    text-align center

  &__status_selected_yes,
  &__status:hover
    opacity: 1;

  &__status-descr_popup_yes
    max-width 450px;
    padding 10px 15px;
    text-align: justify;
    outline 1px solid #555555

  &__progress
    width 80%
    max-width 100px
    margin: 0 auto;
    & .progressbar_color_red .progressbar__bar
      background #F30

    & .progressbar_color_green .progressbar__bar
      background #3F0

    & .progressbar_color_red .progressbar__bar
      background linear-gradient(to right, #f30 95%, #fc0 100%)

    & .progressbar_color_yellow .progressbar__bar
      background linear-gradient(to right, #f30 50%, #fc0 100%)

    & .progressbar_color_green .progressbar__bar
      background linear-gradient(to right, #f30 10%, #fc0 50%, #3f0 100%)

  &__plus-point
    color #0B7C3B
    position absolute
    z-index 1005
    font-size 20px
    visibility hidden
    top 10px
    transition top .8s ease-out .3s
    font-weight bold
