.input
    &__spin
        position absolute
        top 8px
        right 8px
        transition opacity 0.1s ease-out
        opacity 0
        cursor text

    &__spin_visible
        opacity 1

.s-speaker__select-poem .input_theme_islands.input_size_l .input__control
    padding-right 30px
